$primary-pink: #F28482;
$primary-yellow: #F6BD60;
$primary-green: #84A59D;
$primary-rouge: #C9563E;

$bright-green: #63dabd;
$black: #000000;
$white: #FFFFFF;
$cream: #e8e1dc;
$off-black: #494949;
$light-grey: #c4c4c4;
$medium-grey: #a9a9a9;
