@import '@styles/abstracts/_fonts.scss',
        '@styles/abstracts/_breakpoints.scss',
        '@styles/abstracts/_colors.scss',
        '@styles/base/base.scss';


body {
  margin: 0;
  font-family: 'Nunito Light', sans-serif;
  font-size: 18px;

  @include phone {
    font-size: 12px;
  }
}

a:link, 
a:hover, 
a:visited, 
a:active {
  font-family: 'Nunito SemiBold';
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  transition: 1s color ease;
}