@import '@styles/abstracts/_colors.scss';
@import '@styles/abstracts/_breakpoints.scss';

.title__wrapper {
  padding: 6rem;
  h1 {
    font-size: 80px;
    line-height: 1em;
    text-align: left;
    margin: 0 0 0 1rem;
    text-shadow: 1px 1px 1px $off-black;

    @include phone {
      font-size: 40px;
    }
  }
  
  &_row {
    display: flex;
    margin-bottom: 1rem;
  }

  &_statement {
    margin-top: 1.5rem;
    text-align: center;

    p {
      color: $off-black;
      line-height: 1.5rem;
    }
  }

  #love {
    color: $primary-rouge;
    text-transform: uppercase;
  }
  
  #indulge {
    color: $primary-pink;
    text-transform: uppercase;
  }

  #inspire {
    color: $primary-yellow;
    text-transform: uppercase;
  }
  
  #create {
    color: $primary-green;
    text-transform: uppercase;
  }
}