@import '@styles/abstracts/_colors.scss';
@import '@styles/abstracts/_breakpoints.scss';

.title__wrapper {
  background-color: $off-black;
  opacity: .95;
  padding: 5rem;
  box-shadow: 5px 5px 3px $black;

  h1 {
    font-size: 80px;
    font-family: "Ambroise Regular", 'Franklin Gothic Medium', sans-serif;
    line-height: 1em;
    text-align: left;
    // text-shadow: -4px 0px 2px rgba(0, 0, 0, .6), -1px -1px $medium-grey;
    margin: 0 0 0 1rem;
    opacity: 0.85;

    @include phone {
      font-size: 40px;
    }
  }
  
  &--row {
    display: flex;
    margin-bottom: 1rem;
  }

  &--statement {
    margin-top: 1.5rem;
    text-align: center;

    p {
      color: $white;
      line-height: 0.3em;
    }
  }

  #love,
  #indulge {
    color: $primary-pink;
  }

  #inspire {
    color: $primary-yellow;
  }
  
  #create {
    color: $primary-green;
  }
}