@import '@styles/abstracts/_fonts.scss',
        '@styles/abstracts/_breakpoints.scss',
        '@styles/abstracts/_colors.scss',
        '~bootstrap/scss/bootstrap';


body {
  margin: 0;
  font-family: 'Nunito ExtraLight', sans-serif;
  font-size: 18px;

  @include phone {
    font-size: 12px;
  }
}

a:active,
a:visited,
a:link {
  font-family: 'Nunito Light', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
} 

a:hover {
  text-decoration: none;
}

h1,h2,h3 {
  font-family: "Ambroise Regular", 'Franklin Gothic Medium', sans-serif;
}